page-tabs {


    .feetball {
        background-repeat: no-repeat;
        background-position:center;
        background-image: url('../assest/icon/leg.svg') !important;
        width: 20%;
        height: 20%;
      }



}
